.DS_Store
.snakemake/*
.snakemake
tmp-compactors/
logs/*
slurm-*
results/*
src/*.tar
tempClustalOmega.aln
# tmp
# tmp/*
splash-*/
benchmarks
benchmarks/*
.Rproj.user
*.Rhistory
*.Rproj
*.out
example_data/
containers/hyena_embedder.sif
__pycache__/
__pycache__/*
pdf*/
pdf*/*
